Reset some default styles
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

 h1{
    text-align: center;
}

.header {
    text-align: left;
    background-color: #3498db; 
    color: #fff; 
    padding: 20px;
}


.navbar {
    background-color: #3498db;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.container {
    text-align: left;
    padding: 20px;
}

.about-section, .team-section {
    margin-bottom: 30px;
}


.team-member {
    border: 1px solid #3498db;
    padding: 10px;
    margin: 10px;
}

.footer {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}


a {
    color: #3498db;
}

a:hover {
    color: #217dbb; 
}


