<style type="text/css">
  .navbar {
    background-color: #f8f8f8;
    height: 60px; /* Background color for the navigation bar */
  }
</style>

{#    <nav class="navbar justify-content-center fixed-bottom">#}
{#      <ul class="navbar-nav">#}
{#        <li class="nav-item"><a class="nav-link disabled" style="color: #124B9A">Windsor Forex Trading Platform</a></li>#}
{#      </ul>#}
{#    </nav>#}
<footer>
    <p>&copy; 2023 Windsor Forex Trading Platform. All rights reserved.</p>
</footer>

{% load static %}
<link rel="stylesheet" href="{% static 'myApp/style.css' %}">
    <footer>
        <p>&copy; 2023 Windsor Forex Trading Platform. All rights reserved.</p>
    </footer>

