<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'head-footer/header.html' %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'myApp/style.css' %}">
    {% endblock head %}
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <h1>Windsor Forex Trading Platform</h1>
    </div>
    <!-- End Navbar -->

    <!-- Body -->
    <div class="container-fluid">
        {% block content %}

        {% endblock content %}
    </div>
    <!-- End Body -->

    {% include 'head-footer/footer.html' %}
</body>
</html>
