{% extends 'static-pages/about_us2.html' %}

{% load static %}  

{% block content %}
<!-- About Us Content -->
<div class="container mt-5">
    <section class="about-section">
        <h2><b>About Us</b></h2>
        <p>Welcome to Crypto Trading Application, your go-to platform for all things related to cryptocurrency. Our team is dedicated to providing you with the latest trends, charts, patterns, rates, and much more.</p>
        <p><b> Features of the Application</b></p>
        <li>View Live Cryptcurrency Rates</li>
        <li>Visualize Top Cryptcurrency Trends</li>
        <li>KPIs View</li>
        <li>Solution deployed on Cloud. Access Anywhere from any location.</li>
        <li>Connect with the Team</li>
        <li>Proper Authentication System.</li>
        <li>Cryptocurrency view wrt different currencies</li>
        
    </section>

    <section class="team-section">
        <h3><b>Meet the Team</b></h3>
        <div class="team-member">
            <!-- <img src="{% static 'images/manjinder.jpg' %}" alt="Manjinder Singh"> -->
            <p>Manjinder Singh</p>
        </div>
        <div class="team-member">
            <!-- <img src="{% static 'images/khyati.jpg' %}" alt="Khyati Shah"> -->
            <p>Khyati Shah</p>
        </div>
        <div class="team-member">
            <!-- <img src="{% static 'images/harbhajan.jpg' %}" alt="Harbhajan Singh"> -->
            <p>Harbhajan Singh</p>
        </div>
        <div class="team-member">
            <!-- <img src="{% static 'images/karan.jpg' %}" alt="Karan Vishavjit"> -->
            <p>Karan Vishavjit</p>
        </div>
    </section>
</div>
{% endblock %}

