<!-- crypto_rates/templates/crypto_rates/crypto_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            cursor: pointer;
        }
        img {
            max-width: 30px;
            max-height: 30px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Crypto Dashboard</h1>
    <div>
        <label for="modeSwitch">Mode:</label>
        <input type="checkbox" id="modeSwitch" onclick="toggleDarkMode()">
    </div>
    {% load static %}  
    <table id="cryptoTable">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Cryptocurrency Name</th>
                <th>Logo</th>
                <!-- <th>Rate</th> -->
                <th>Max Supply</th>
                <th> Full Name</th>
                <th> Symbol</th>
            </tr>
        </thead>
        <tbody>
            {% for crypto in crypto_list %}
                <tr onmouseover="highlightRow(this)" onmouseout="unhighlightRow(this)">
                    <td>{{ crypto.serial_number }}</td>
                    <td>{{ crypto.cryptocurrency_name }}</td>
                    <td><img src="{{ crypto.cryptocurrency_logo }}" alt="{{ crypto.cryptocurrency_name }} Logo"></td>
                    <!-- <td>{{ crypto.rate }}</td> -->
                    <!-- Add new columns for max supply, name_full, and symbol -->
                    <td>{{ crypto.max_supply }}</td>
                    <td>{{ crypto.name_full }}</td>
                    <td>{{ crypto.symbol }}</td>
    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // crypto_rates/static/crypto_rates/js/crypto_dashboard.js

        // Function to toggle dark mode
        function toggleDarkMode() {
            const body = document.body;
            body.classList.toggle('dark-mode');
        }

        // Function to highlight the row
        function highlightRow(row) {
            row.style.backgroundColor = '#f0f0f0'; // Change the background color to a light shade
        }

        // Function to unhighlight the row
        function unhighlightRow(row) {
            row.style.backgroundColor = ''; // Remove the custom background color
        }
    </script>
</body>
</html>
